*{
margin: 0;
padding: 0%;
box-sizing: border-box;
}

header{
    border: 1px solid black;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    padding: 0  20px;
background-color: mediumvioletred;
}
#conteiner{
    display:flex ;
    flex-direction: column;
    height: 100vh;
}
main{
    flex-grow: 1;
    display: flex;
   
}
section{
background-color: #f2d0e0;
flex-grow: 11;
flex: 0 20%;
}
img{
    height: 200px;

}
.legenda{
display: flex;
 flex-direction: column;
gap: 20px 10px;
padding: 10px;
}
.bolinho{
    max-width: 30px;
    max-height:150px;
    width: auto;
    height: auto;
    }
.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 5px 7px 4px rgba(0,0, 0, 0.25);
}
.confeitaria{
    display: flex;
}
.section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-color:white ;
    flex: 1  1 70%;
    padding: 10px;
}

footer{
 border: 1px solid black;
height: 8vh;
background-color: mediumvioletred;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.icone{
    max-width: 30px;
    max-height:150px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
}
.seta{
    max-width: 30px;
    max-height:150px;
    width: auto;
    height: auto;
    display: flex;
    justify-content:flex-end ;
}
.home{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.produto{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.carrinho{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.perfil{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}