body{
    background-image:linear-gradient(to right, #F2E2CE,#F2B9AC,#9ABBD9) 

}
p{
    color: #323F59;
   
}
a{
    color: #5E6D8C;
    text-align: center;
}
button{
    color: #5E6D8C;
    text-align: center;
background-color:#9ABBD9

}
h2{
    color: #323F59;
    background-color:#F2B9AC;
    margin:  8px ; 
    padding: 4px; 
    text-align: center;
}
form{
    color: rgb(42, 15, 66);
    text-align: center;
}
